@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Recipe</h1>
    <p>Tabella Riepilogativa Articoli</p>
    <table class="table table-bordered mt-3">
        <thead class="bg-light">
        <tr>
            <th>Indice</th>
            <th>Articolo</th>
            <th>Note</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var Item in Model.ListaArticoli)
        {
            <tr>
                <td>@Item.Id</td>
                <td>@Item.Articolo</td>
                <td>@Item.Note</td>
                <td>
                    <div class="d-inline-flex justify-content-center">
                        <a class="btn btn-success mx-1" asp-page="/Articoli/Modify" asp-route-Id="@Item.Id">
                            <img src="~/images/Edit-Validated-icon.png" alt="Modify"/>
                        </a>
                        <a class="btn btn-danger mx-1" asp-page="/Articoli/Delete" asp-route-Id="@Item.Id">
                            <img src="~/images/Actions-edit-delete-icon.png" alt="Delete"/>
                        </a>
                        <a class="btn btn-success mx-1" asp-page="/Ricette/Index" asp-route-Id="@Item.Id">
                            <img src="~/images/Things-Book-icon.png" alt="Open"/>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary mt-3" asp-page="/Articoli/Create">Pagina Creare Articolo</a>
</div>
