@page
@using Microsoft.AspNetCore.Mvc.Formatters
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Recipe</h1>
    <p>Tabella Riepilogativa Articoli</p>
    <table class="table table-bordered table-hover mt-3">
        <thead class="table-light">
        <tr>
            <th>Articolo</th>
            <th style="width: 20%">Opzioni<br/>Talcati - Siliconati - Teflonati</th>
            <th>Note</th>
            <th style="width: 20%">Comandi</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var Item in Model.ListaArticoli)
        {
            <tr>
                <td>@Item.Articolo</td>
                <td>
                    <input class="form-check-input" type="checkbox" disabled checked=@Item.Talco/>
                    <input class="form-check-input ms-3" type="checkbox" disabled checked=@Item.Silicone/>
                    <input class="form-check-input ms-3" type="checkbox" disabled checked=@Item.Teflon/>
                </td>
                <td>@Item.Note</td>
                <td>
                    <div class="d-inline-flex justify-content-center">
                        <a class="btn btn-success" asp-page="/Articoli/Modify" asp-route-Id="@Item.Id">
                            <img src="~/images/Edit-Validated-icon.png" alt="Modify"/>
                        </a>
                        <a class="btn btn-success ms-3" asp-page="/Ricette/Index" asp-route-Id="@Item.Id">
                            <img src="~/images/Things-Book-icon.png" alt="Open"/>
                        </a>
                        <a class="btn btn-danger" style="margin-left: 100px" asp-page="/Articoli/Delete" asp-route-Id="@Item.Id">
                            <img src="~/images/Actions-edit-delete-icon.png" alt="Delete"/>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary mt-3" asp-page="/Articoli/Create">Pagina Creare Articolo</a>
</div>
